body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    margin: 10px;
}

.left-sidebar,
.right-sidebar {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 15px;
}

.left-sidebar {
    width: 25%;
    transition: transform 0.3s ease;
}

.right-sidebar {
    width: 25%;
}

button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds shadow for 3D effect */
    transition: all 0.2s ease;
}

button:hover {
    background-color: #303f9f;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}